@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap%27');
@import url('http://fonts.cdnfonts.com/css/wynford');
#about_makeathon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(3%2c 11%2c 43%2c 1)'%3e%3c/rect%3e%3cpath d='M667.1602951411908 261.6255064555899L677.1724789531057 452.66935431339584 868.2163268109116 442.657170501481 858.2041429989968 251.61332264367502z' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M567.241268512346 259.0677720435678L743.7185447976008 412.4771278442697 897.1279005983026 235.999851559015 720.650624313048 82.59049575831307z' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1236.86%2c1129.374C1283.326%2c1128.375%2c1324.629%2c1097.967%2c1344.133%2c1055.78C1361.134%2c1019.007%2c1344.556%2c978.372%2c1322.333%2c944.498C1302.703%2c914.577%2c1272.588%2c894.309%2c1236.86%2c892.271C1196.862%2c889.99%2c1155.327%2c900.653%2c1132.648%2c933.679C1106.883%2c971.199%2c1099.896%2c1020.396%2c1121.29%2c1060.57C1143.876%2c1102.983%2c1188.819%2c1130.407%2c1236.86%2c1129.374' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1199.89%2c1221.392C1253.878%2c1220.22%2c1288.975%2c1170.418%2c1314.472%2c1122.815C1338.175%2c1078.561%2c1353.014%2c1026.222%2c1327.622%2c982.915C1302.454%2c939.989%2c1249.579%2c930.043%2c1199.89%2c927.387C1143.155%2c924.355%2c1075.891%2c919.491%2c1046.098%2c967.869C1015.571%2c1017.439%2c1046.159%2c1078.211%2c1076.353%2c1127.985C1105.051%2c1175.293%2c1144.571%2c1222.593%2c1199.89%2c1221.392' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1429.8764764298753 421.2766886725587L1690.8105687031466 590.7292695189208 1860.2631495495086 329.7951772456495 1599.3290572762373 160.34259639928746z' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M338.09668400275723 649.2523811835945L49.51239420736144 694.6777586681906 206.7364377643906 895.9153575985702z' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M70.087%2c288.28C129.97%2c286.209%2c187.605%2c261.706%2c218.654%2c210.459C250.834%2c157.344%2c253.031%2c90.768%2c222.524%2c36.675C191.488%2c-18.356%2c133.248%2c-51.41%2c70.087%2c-52.97C3.975%2c-54.603%2c-61.513%2c-27.634%2c-95.973%2c28.81C-131.826%2c87.536%2c-134.502%2c163.438%2c-97.413%2c221.391C-62.678%2c275.665%2c5.689%2c290.507%2c70.087%2c288.28' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M736.3372195950406 835.7642087678682L665.0606452719521 616.3974693874504 445.6939058915343 687.674043710539 516.9704802146227 907.0407830909567z' fill='rgba(216%2c 230%2c 218%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    /* margin-bottom: 5%; */
    /* background-repeat: no-repeat;
    background-size: auto; */
}
.container{
    display: flex;
    flex-wrap:nowrap;
   
}
.about_heading{
    font-family: 'Wynford', sans-serif;
    color: #0E2A47;
    font-size: 5rem;
    text-align: center;
    padding-top: 5%;
    margin-top: 0;
    padding-bottom: 5%;
}
/* .aboutimage img{
    width: 400px;
    height: auto; 
    margin-right:1%;
    flex : 1;  
} */
.aboutmakeathon p{
    font-family: 'Cairo', sans-serif;
    flex: 1;
    font-size: 110%;
    word-spacing: 10px;
    color:#95dff3;
    margin-bottom: 100px;
    padding:20px;
     border: aqua 2px solid;
     border-radius: 10px;
}
@media screen and (max-width: 760px){
    .about_heading{
        font-size: 340%;
        margin-bottom: 5%;
    }
    .container {
        flex-wrap: wrap;
    

    }
    /* .aboutimage img{
        width: 90%;
        padding-left: 14%;
        padding-bottom: 20px;
    } */
    .aboutmakeathon{
        font-size: 70%;
        padding-left: 10px;
        margin-bottom: 10%;
    }
    
}

 @media screen and (min-width: 768px) and (max-width: 1024px){
    .about_heading{
        margin-bottom: 20px;
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;

    }
    /* .aboutimage img{
        margin-bottom : 20px;
    } */

} 
@media screen and (min-width:1392px){
    /* .aboutimage img{
        margin-bottom: 100px;
        padding-top:70px;
    } */
    .about_heading{
        font-size: 7rem;
    }
    .aboutmakeathon{
        padding-top: 30px;
        font-size: 150%;
    }
}  